h1{
    text-align: center;
}

table{
    width:60%;
    margin-left:350px;
}
label1{
    margin-left:400PX;
}
label{
    margin: 10PX;
}

td{
    text-align: center;
}
O{
    margin-left:500PX;
}
OO{
    margin-left:50px;
}
OOO{
    margin-left:50px;
}