table{
    margin-left:250PX;
}
h1{
   text-align: center;
}
O{
    margin-left:500PX;
}
OO{
    margin-left:50px;
}
OOO{
    margin-left:50px;
}
label{
    margin-left: 500px;
}
label1{
    margin-left:20PX;
}
img{
    width: 65PX;
}
button{
    width: 80PX;
}
